head {background-color: red;
}
body img{
    max-height: 10px;
    max-width: 10px;
    height: 10px;
    background-color: red
    padding: 
    
    }
input { 
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 200px;
}
















